
// .header-logo {
// 	background-color: tomato;
	

// 	&__image {
// 		width: 120px;
// 		padding-left: 2rem;
// 	}
// }

.header-logo {
	padding-left: 2rem;
	padding-top: 1rem;
}

.logo {
	width: 200px;

}